/* show photo and on hover make bigger */
td[headers="PHOTO"] > img {
    border: none;
    margin: 0 auto;
    width: 75px;
}
td[headers="PHOTO"] > img:hover {
    transform: scale(3);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.isDisabled {
    pointer-events: none;
}
table.table-hover > tbody > tr > td {
    cursor: pointer;
}


/* show pointer on report row */
#regionStaticId tbody tr { 
    cursor: pointer; 
}

/* sticky headers and columns */
.header-sticky
{
position: sticky;
top: 0px !important;
}

.col-1-sticky
{
position: sticky;
left: 0px !important;
}

/* selected class to show which cell is selected */
td.selected {
    border: 2px solid #2b6bc1 !important;
}

/* floating button, usefull for mobile */
.float{
  z-index:100;
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color: rgba(55, 76, 139, 0.81);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float{
  margin-top:22px;
}
/* add to your button properties css attributes: float my-float
source: https://apex18.blogspot.com/2019/11/oracle-apex-universal-theme-floating-buttons.html
*/
